{% extends "base.html" %} {% block title %}Sample{% endblock %}
{% block content %}
<div class="col-md-12 grid-margin">
    <div class="row">
        <div class="card-body">
            <h3 class="font-weight-bold">Data Sentimen</h3>
            <h6 class="font-weight-normal mb-0"> Import Seluruh data yang akan dianalisis:</h6>
        </div>

        <!-- Menampilkan pesan flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert-container">
            {% for category, message in messages %}
            <div id="message" class="alert
                            {% if category == 'success' %}alert-success{% elif category == 'error' %}alert-danger{% endif %}
                            alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="card col-md-12">
            <div class="card-body">
                <div class="d-flex justify-content-end ">
                    <!-- import CSV -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#importModal">
                        <i class="ti-import menu-icon"></i> Import CSV
                    </button>
                    <div class="modal fade" id="importModal" tabindex="-1" aria-labelledby="importModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="importModalLabel">Import data sentimen</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="alert alert-primary" role="alert">
                                        File yang dapat di upload hanya file berformat .csv dengan kolom "Teks" ,
                                        "sosmed", "labels"
                                    </div>
                                    <form action="{{ url_for('importData.import_csv') }}" class="mb-3" method="post"
                                        enctype="multipart/form-data">
                                        <label for="formFile" class="form-label">File CSV</label>
                                        <input class="form-control mb-3" type="file" id="formFile" name="file" required>
                                        <button type="submit" class="btn text-center btn-primary pt-2">Upload</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Delete sentimen -->
                    <button type="button" class="btn btn-primary ml-3" data-toggle="modal"
                        data-target="#preprocessingModal">
                        <i class="ti-trash"></i> Delete data Sentimen
                    </button>
                    <div class="modal fade" id="preprocessingModal" tabindex="-1"
                        aria-labelledby="preprocessingModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="preprocessingModalLabel">
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <div class="alert alert-danger" role="alert">
                                        Delete data sentimen hanya akan menghapus data yang ada pada tabel sentimen.
                                    </div>
                                    Apakah kamu yakin akan menghapus data sentimen?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Tidak</button>
                                    <form action="{{ url_for('dataSentimen.delete_all_data') }}" method="POST"
                                        id="uploadForm">
                                        <button type="submit" class="btn btn-danger">Ya, Hapus!</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Delete sentimen -->
                    <button type="button" class="btn btn-primary ml-3" data-toggle="modal"
                        data-target="#resetDataModal">
                        <i class="ti-trash"></i> Reset data
                    </button>
                    <div class="modal fade" id="resetDataModal" tabindex="-1"
                        aria-labelledby="resetDataModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="resetDataModalLabel">
                                    </h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>

                                <div class="modal-body">
                                    <div class="alert alert-danger" role="alert">
                                        Mereset seluruh data akan menghapus semua data yang tersimpan
                                    </div>
                                    Apakah kamu yakin akan mereset?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Tidak</button>
                                    <form action="{{ url_for('dataSentimen.reset_all_data') }}" method="POST"
                                        id="uploadForm">
                                        <button type="submit" class="btn btn-danger">Ya, Reset All!</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body ">
                <div class="table-responsive">
                    <table id="table" class="table table-striped table-bordered ">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Text</th>
                                <th>Sosial Media</th>
                                <th>Labels</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if data %}
                            {% for row in data %}
                            <tr>
                                <td class="text-center">{{ loop.index }}</td>
                                <td class="text-wrap">{{ row.teks }}</td>
                                <td class="text-center">{{ row.sosmed }}</td>
                                <td class="text-center">{{ row.labels }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="6" class="text-center">No data available</td>
                            </tr>
                            {% endif %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Text</th>
                                <th>Sosial Media</th>
                                <th>Labels</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='vendors/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendors/datatables/dataTables.bootstrap4.min.js')}}"></script>
<script>

    new DataTable('#table');
    // Cek apakah ada parameter `status` di URL
    const urlParams = new URLSearchParams(window.location.search);
    const status = urlParams.get('status');

    // Tampilkan Sweet Alert berdasarkan status preprocess
    if (status === 'Upload_success') {
        Swal.fire({
            icon: 'success',
            title: 'Upload dataset berhasil dilakukan!',
            showConfirmButton: false,
            timer: 2000
        });
    } else {
        Swal.fire({
            icon: 'error',
            title: 'Upload dataset berhasil gagal!',
            showConfirmButton: false,
            timer: 2000
        });
    }

    // Fungsi untuk menampilkan loading overlay
    document.getElementById("uploadForm").onsubmit = function () {
        const button = document.getElementById("uploadButton");
        button.disabled = true;
        button.innerHTML = "Sedang Memproses...";
        // Menampilkan overlay loading
        document.getElementById("loadingOverlay").style.display = "block";
    };

    $(function () {
        setTimeout(() => $("#message").alert('close'), 4000); // 3 detik
    });

</script>
{% endblock %}