{% extends "base.html" %} {% block title %}Sample{% endblock %}
{% block content %}
<div class="col-md-12 grid-margin">
    <div class="row">
        <div class="card-body">
            <h3 class="font-weight-bold">Data Training</h3>
            <h6 class="font-weight-normal mb-0"> Halaman data latih</h6>
        </div>

        <!-- Menampilkan pesan flash -->
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div class="alert-container">
            {% for category, message in messages %}
            <div id="message" class="alert
                            {% if category == 'success' %}alert-success{% elif category == 'error' %}alert-danger{% endif %}
                            alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
        <div class="card col-md-12">
            <div class="card-body ">
                <div class="table-responsive">
                    <table id="table" class="table table-striped table-bordered ">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Text</th>
                                <th>label</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if data %}
                            {% for row in data %}
                            <tr>
                                <td class="text-center">{{ loop.index }}</td>
                                <td class="text-wrap">{{ row.teks }}</td>
                                <td class="text-wrap">{{ row.labels }}</td>
                            </tr>
                            {% endfor %}
                            {% else %}
                            <tr>
                                <td colspan="6" class="text-center">No data available</td>
                            </tr>
                            {% endif %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>No</th>
                                <th>Text</th>
                                <th>label</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{{ super() }}
<script src="{{ url_for('static', filename='vendors/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{ url_for('static', filename='vendors/datatables/dataTables.bootstrap4.min.js')}}"></script>
<script>

    new DataTable('#table');
    $(function () {
        setTimeout(() => $("#message").alert('close'), 4000); // 3 detik
    });

</script>
{% endblock %}